body{
    background-color:aliceblue;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
   background-size: 100%;
   height: 1px;
   list-style: none;
   overflow:visible;
}
.bgatas{
    background-repeat: no-repeat;
    background-size: contain ;
    background-position-y: 4px;
}
.nav{
   text-align: center;
   word-spacing: 50px;
}
.nav a{
    text-decoration: none;
    font-size: 30px;
    color:coral;
    font-weight: bolder;
    transition-duration: .5s;
    
}
.photo1{
    text-align: center;
    margin-top: 200px;
    position: relative ;
}
.photo1 img{
    border-radius: 50%;
}
.photo1 h3{
    color: cadetblue;
    font-size: 20px;
}
.photo1 p{
    text-align: center;
    font-size: 20px;
}
.skills{
    width: auto;
    background:#F0F8FF ;
    text-align: center;
    
}
.skills h1{
    
    text-align: center;
}
.skillbox{
    box-sizing: border-box;
    width: 100%;
    margin: 20px;
}
.skillbox p{
    color:darkorange;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header{
    font-size: 40px;
    font-weight: 60px;
}

.gambar1 h3{
    margin: 30px
}
.gambar1 p{
    margin:150px ;
    margin-right: 60px;
    
}
.gambar1 img{
    width: 400px;
    ;
}
.gambar1 h3{
    position: relative;
    margin-top: 50px;
}
.favosong h3{
    top: 80px;
    left: 40px;   
}
.favobook h3{
    top: 80px;
    left: 40px
}
.education img{
    width: 100%;
    max-width: 900px;
}
.portfolio img{
    width: 300px;
    height: 300px;
    max-height: 300px;
    
}
